<div class="container main-form justify-content-center align-items-center">
	
	<div class="row form">
		<div>
			<h1 class="mb-5">Inicio de Sesión</h1>
			<hr />

			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate="novalidate">
				<div>
				  <label for="email" class="form-label">Correo:</label>
				  <input 
				  	type="email" 
					class="form-control" 
					id="email" 
					name="email" 
					formControlName="email"
					placeholder="Escribe tu correo" 
					[ngClass]="{ 'invalid' : email && email.invalid && email.touched, 'valid' : email && email.valid && email.touched }"/>
				</div>
				<span 
					class="invalid-form"
					*ngIf="email && email.invalid && email.touched">
						<small>*Correo Incorrecto</small>
				</span>
				<br /><br />
				<div>
				  <label for="password" class="form-label">Contraseña</label>
				  <input 
				  	type="password" 
					class="form-control" 
					id="password" 
					name="password"
					formControlName="password" 
					placeholder="Escribe tu contraseña" 
					[ngClass]="{ 'invalid' : password && password.invalid && password.touched, 'valid' : password && password.valid && password.touched }"/>
				</div>
				<span 
					class="invalid-form" 
					*ngIf="password && password.invalid && password.touched">
						<small>*Contraseña Incorrecta</small>
				</span>
				<br /><br />
				<button type="submit" class="btn btn-primary">Entrar</button>
			  </form>
		</div>
	</div>
</div>
