/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.main-form{
	height: 100vh !important;
	display: flex;
}

.form{
	width: 50%;
}

.invalid-form {
	color: red;
}

.invalid{
	border-left: 5px solid red;
}

.valid{
	border-left: 5px solid green;
}

.center-element{

	height: 100vh;
	display: flex;
	align-items: center;
}

.center-element > div{

	width: 100%;
}