/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

body{
	background-color: #5C62C5;
}

p ,small, a, label{
	color: white;
}

.main-form{
	height: 100vh !important;
	display: flex;
}

.form{
	width: 30%;
}

.invalid-form {
	color: red;
}

.invalid{
	border-left: 5px solid red;
}

.valid{
	border-left: 5px solid green;
}

.center-element{

	height: 100vh;
	display: flex;
	align-items: center;
}

.center-element > div{

	width: 100%;
}

.input_serch {
	padding:8px;
	margin:15px auto;
	width:30%;
}

@media only screen and ( min-width: 992px ) and ( max-width: 1199px ){

}

@media only screen and ( min-width: 768px ) and ( max-width: 991px ){

	/* .form{
		width: 100%;
	} */
}

@media only screen and ( max-width: 767px ){

	.form{
		width: 60%;
	}
}

@media only screen and ( max-width: 375px ){

	.form{
		width: 100%;
	}

	.input_serch{
		width:100%;
	}
}

